.listNftContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 100%;
  border: solid 2px grey;
  border-radius: 4px;
  margin-top: 2rem;
  flex-grow: 1;
}

.listNftContainer > div {
  @apply rounded-sm;
  @apply bg-neutral-800;
  @apply border-2;
  @apply border-solid;
  @apply border-blue-900/50;
  cursor: pointer;
  width: 45%;
  margin: 1rem;
  padding: 1rem;
}

.textName {
  font-size: medium;
  font-weight: bold;
}

.text {
  margin-top: 1rem;
  font-size: medium;
  font-weight: bold;
}

.subtext {
  font-size: small;
  font-weight: normal;
}

.listNftContainer p {
  word-wrap: break-word;
  white-space: normal;
}

.planetLocation {
  border: solid 2px;
  @apply border-blue-900/70;
}

.planetContainer {
  border: solid 2px;
  @apply border-blue-900/50;
  @apply bg-background2;
  display: flex;
  flex-direction: column;
}

.planetContainer p {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

@media (max-width: 920px) {
  .listNftContainer > div {
    width: 90%;
  }
}
